article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

body {
  background: #50a9c9;
}

.flexColumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 8rem;
  letter-spacing: -1rem;
  color: #feedb4;
  font-size: 100px;
  text-transform: uppercase;
}

h1 span {
  color: #fcdb67;
  text-transform: uppercase;
}

p {
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
  text-align: center;
}

p.bottomText {
  font-size: 2.5rem;
  padding-top: 1%;
}

button {
  -webkit-appearance: none;
  padding: 20px;
  border: none;
  background: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label p {
  border: 4px solid #b0568b;
}

label p {
  font-size: 2rem;
  margin: 10px;
  color: #489eb8;
  font-family: "Poppins";
  letter-spacing: 0.3rem;
  background: #feedb4;
  border-radius: 10px;
  padding: 10px;
}

label p:hover {
  cursor: pointer;
  background: white;
}

label p.fullSize {
  width: 100%;
}

.quoteChoices {
  padding-top: 3%;
}

.buttonWrapper {
  padding: 10% 0 10% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#submit {
  width: 80%;
  margin: 0 auto;
  background: #fcdb67;
  color: #b0568b;
  font-weight: 600;
  letter-spacing: 0.5rem;
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
}

#submit:hover {
  background: #b0568b;
  color: #fcdb67;
}

.quoteContainer {
  width: 60%;
  margin: 0 auto;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.textWrapper {
  padding: 20% 10%;
  margin: auto;
}

.textWrapper h2 {
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3rem;
}

.textWrapper p {
  color: white;
  font-family: "Poppins";
  font-size: 1.5rem;
  text-align: right;
}
